body{
    font-family: $parrafos-fontFamily;
}

trix-editor{
    min-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.bg-primary .navbar-brand{
    color: $blanco;
    font-family: $font-family-sans-serif;
    font-size: 1.8rem;
    &:hover{
        color:$blanco;
    }
}

.icono{
    width: 36px;
}