body{
    font-family: $parrafos-fontFamily;
}

.bg-primary .navbar-brand{
    color: $blanco;
    font-family: $font-family-sans-serif;
    font-size: 1.8rem;
    &:hover{
        color:$blanco;
    }
}